/* Stile dei link nel footer */
footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #cccccc;
}

/* Resize e centra l'immagine */
.product-image-small {
  width: 100%;
  height: 300px;
  object-position: center center;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

/* Ellipsis Card Title */
.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

/* Ellipsis Card Description */
.description-3-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

/* Card brand */
.product-brand {
  font-weight: thin;
  color: gray;
  margin-bottom: 5px;
}

/* Card Price */
.product-price {
  font-weight: bold;
  font-size: 1.3rem;
}

.card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid lightgray;
}


.btn-close {
  outline: none;
  border: none;
  background-color: transparent;
}

.btn-close:hover {
  color: gray;
}

.btn-close:focus {
  outline: none;
}